body{
    background-color: #fafafa;
}

nav ul a{
    color: #1565c0;
}

.values .values-section{
    -webkit-box-shadow: inset 0px 8px 6px -6px rgba(0,0,0,0.3), inset 0 -8px 6px -6px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0px 8px 6px -6px rgba(0,0,0,0.3), inset 0 -8px 6px -6px rgba(0,0,0,.3);
    box-shadow: inset 0px 8px 6px -6px rgba(0,0,0,0.3), inset 0 -8px 6px -6px rgba(0,0,0,.3);
    margin: 0.7rem auto;
    padding: 0.5rem 0;
}

.values .card-panel .row {
    margin-bottom: 0;
}

.values .card-panel .row .values-item{
    background-color: #0091ea;
    color: #fafafa;
    font-size: 1.5em;
    margin: 0;
    padding: 4px 8px;
}

.icon-services{
    border: 1px solid #0091ea;
    border-radius: 50%;
    padding: 0px 21px;
    color: #0091ea;
}

.title-section{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.technology .item .row{
    margin-bottom: 0;
}


.technology-django, .technology-heroku, .technology-backbone{
    border-radius: 5px;
    margin: 0.5em 0;
    padding: 5px 0 3px 3px; 
}
.technology-django{
    border: 2px solid #508067;
}

.technology-heroku{
    border: 2px solid #57418F;
}

.technology-backbone{
    border: 2px solid #015180;
}