{% extends "home/base_home.html" %}

{% load staticfiles %}

{% block content %}

    {% include "include/header.html" %}

    {% include "include/banner.html" %}

    <div class="row">
            <div class="col s12 m6 ">
                <div class="card-panel">
                  <div class="row">
                    <h5 class="truncate red-text text-darken-2 center-align">Envienos su Consulta</h5>
                    <form class="col s12" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
                      <div class="row">
                        <div class="input-field col s12">
                        <i class="mdi-action-account-circle prefix"></i>
                          {{form.name}}
                          {{form.name.label_tag}}
                        </div>
                        <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                          {{form.email}}
                          {{form.email.label_tag}}
                        </div>
                        <div class="input-field col s12">
                        <i class="mdi-communication-phone prefix"></i>
                          {{form.phone}}
                          {{form.phone.label_tag}}
                        </div>
                        <div class="input-field col s12">
                        <i class="mdi-action-query-builder prefix"></i>
                          {{form.horario}}
                          {{form.horario.label_tag}}
                        </div>
                        <div class="input-field col s12">
                        <i class="mdi-communication-comment prefix"></i>
                          {{form.business}}
                          {{form.business.label_tag}}
                        </div>
                        <div class="input-field col s12">
                        <i class="mdi-communication-textsms prefix"></i>
                            {{form.menssage}}
                            {{form.menssage.label_tag}}
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                      <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Enviar
                                        <i class="mdi-content-send right"></i>
                                      </button>
                                </div>
                        </div>            
                      </div>
                    </div>
                </div><!-- fin de card-panel -->
              </div>
        <div class="col s12 m6">
        <!-- -->
        <div class="card-panel">
          <h4 class="truncate red-text text-darken-2 center-align">Preguntas Frecuentes</h4>
            <ul class="collection">
            {% for question in questions %}
              <li class="collection-item avatar">
                {% if not question.username.avatar%}
                <img src="{% static 'img/logo_neu.png' %}" alt="" class="circle">
                {% else %}
                <img src="{{ question.username.avatar.url }}" alt="" class="circle">
                {% endif %}
                <span class="title blue-text text-darken-1"><a href="/foro/{{question.slug}}">{{question.title}}</a></span>
                <p><span class="grey-text text-darken-2">{{question.question}}</span></p>
                <p><span class="red-text text-darken-1">{{question.username.username}}</span></p>
                <a href="#!" class="secondary-content"><i class="material-icons">{{question.answers}}</i></a>
              </li>
             {% endfor %}
            </ul>
        </div>
        <!-- -->
        </div> 
    </div>

    {% include "include/social.html" %}
    {% include "include/footer.html" %}
    
{% endblock content %}