{% extends "home/base_home.html" %}

{% load staticfiles %}

{% block title %}Sistemas web de ventas cusco | neunapp{% endblock title %}

{% block content %}

    {% include "include/header.html" %}

    {% include "include/banner.html" %}

    <section class="values">
        <div class="container values-section">
            <div class="row values-slogan">
            <hgroup>
                <h5 class="center-align">Si busca excelentes alternativas de software, esta en el lugar correcto: Neunapp es una empresa Seria, responsable, y sobre todo emprendedora como Ud.</h5>
                <h6>el compromiso con nuestros clientes, es la prioridad de neunapp, tenga la certeza de que al contar con los servicios que ofrecemos, también contara con nuestros valores:</h6>
            </hgroup>                
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel hoverable">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <i class="mdi-navigation-check values-item"></i>
                            </div>
                            <div class="col s9">
                                <span>Alta calidad de servicio.</span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col s12 m4">
                    <div class="card-panel hoverable">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <i class="mdi-image-flash-on values-item"></i>
                            </div>
                            <div class="col s9">
                                <span>Respuesta rapida.</span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col s12 m4">
                    <div class="card-panel hoverable">
                      <div class="row valign-wrapper">
                        <div class="col s3">
                          <i class="mdi-action-favorite values-item"></i>
                        </div>
                        <div class="col s9">
                          <span>Amable y accesible.</span>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section><!-- fin de valores -->

    <section class="services">
        <div class="container">
            <h5 class="center-align light-blue-text text-accent-4 title-section">Nuestros Servicios.</h5>
            <div class="row">

                <div class="col s12 m4">
                    <div class="">
                        <div class="center">
                            <i class="large mdi-action-extension icon-services"></i>
                        </div>
                        <h5 class="center light-blue-text text-accent-4">Software a medida</h5>
                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt voluptatibus harum recusandae delectus aperiam, ribus omnis rem.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="">
                        <div class="center">
                            <i class="large mdi-file-cloud-done icon-services"></i>
                        </div>
                        <h5 class="center light-blue-text text-accent-4">Aplicaciones en la nuve.</h5>
                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A provident odio hic maxime sequi praesentium, iste . Ea, atque.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="">
                        <div class="center">
                            <i class="large mdi-av-equalizer icon-services"></i>
                        </div>
                        <h5 class="center light-blue-text text-accent-4">Software como servicio.</h5>
                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, voluptate et quibusdam, optio odio consequatur qui voluptatem. molestiae alias delectus fuga dolorem ipsam laudantium.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="technology">
        <div class="container">
            <h5 class="center-align light-blue-text text-accent-4 title-section">La Tecnologia que usamos.</h5>
            <div class="row">

                <div class="col s12 m4">
                    <div class="item technology-django">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="{% static 'img/django.png' %}" class="responsive-img">
                            </div>
                            <div class="col s9">
                                <h5>Django.</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="item technology-heroku">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="{% static 'img/heroku.png' %}" class="responsive-img">
                            </div>
                            <div class="col s9">
                                <h5>Heroku.</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="item technology-backbone">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="{% static 'img/backbone-js.png' %}" class="responsive-img">
                            </div>
                            <div class="col s9">
                                <h5>Backbone.js.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Releases">
        <div class="container">
            <h5 class="center-align light-blue-text text-accent-4 title-section">Publicaciones Recientes.</h5>
            <div class="row">

            {% for entree in entrys  %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="{{ entree.image.url }}">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">{{ entree.title }}<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="/blog/{{ entree.slug }}">Leer mas...</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">{{ entree.title }}<i class="mdi-navigation-close right"></i></span>
                          <p>{{ entree.content|safe|truncatechars_html:300 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

    <section class="clients">
        
    </section>
    
    {% include "include/social.html" %}

    {% include "include/footer.html" %}
    
{% endblock content %}