{% extends "home/base_home.html" %}

{% block title %}Sistemas web de ventas cusco | neunapp{% endblock title %}

{% block content %}

    {% include "include/header.html" %}

    {% include "include/banner.html" %}

    <section class="values">
        <div class="container values-section">
            <div class="row values-slogan">
            <hgroup>
                <h5 class="center-align">Si busca excelentes alternativas de software, esta en el lugar correcto: Neunapp es una empresa Seria, responsable, y sobre todo emprendedora como Ud.</h5>
                <h6>el compromiso con nuestros clientes, es la prioridad de neunapp, tenga la certeza de que al contar con los servicios que ofrecemos, también contara con nuestros valores:</h6>
            </hgroup>                
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel hoverable grey lighten-5">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <i class="mdi-navigation-check values-item"></i>
                            </div>
                            <div class="col s9">
                                <span>Alta calidad de servicio.</span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col s12 m4">
                    <div class="card-panel hoverable grey lighten-5">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <i class="mdi-image-flash-on values-item"></i>
                            </div>
                            <div class="col s9">
                                <span>Respuesta rapida.</span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col s12 m4">
                    <div class="card-panel hoverable grey lighten-5">
                      <div class="row valign-wrapper">
                        <div class="col s3">
                          <i class="mdi-action-favorite values-item"></i>
                        </div>
                        <div class="col s9">
                          <span>Amable y accesible.</span>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section><!-- fin de valores -->

    <section class="services">
        <div class="container">
            <h5 class="center-align">Nuestros servicios.</h5>
            <div class="row">
                <div class="col s12 m4"></div>
                <div class="col s12 m4"></div>
                <div class="col s12 m4"></div>
            </div>
        </div>
    </section>

    {% include "include/footer.html" %}
    
{% endblock content %}