<footer class="page-footer blue">

  <div class="container">

      <div class="row">

        <div class="col l4 s12">
          <h5 class="white-text">Acerca de Neunapp</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Quienes somos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Servicios</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">blog</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Foro</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contactenos</a></li>
          </ul>
        </div>

        <div class="col l6 offset-l2 s12">
          <div class="footer-section">
            <span class="white-text footer-title"><i class="mdi-communication-location-on"></i> Dirección</span>
            <p class="grey-text text-lighten-4 footer-info center">Cusco-San sebastián, organización Agua Buena O-5.</p>
          </div>
          <div class="footer-section">
            <span class="white-text footer-title"><i class="mdi-communication-call"></i> Telefono</span>
            <p class="grey-text text-lighten-4 footer-info center">+(51)-944147277</p>
            <p class="grey-text text-lighten-4 footer-info center">+(51)-966503191</p>
            <p class="grey-text text-lighten-4 footer-info center">+(51)-941648860</p>
          </div>
          <div class="footer-section">
            <span class="white-text footer-title"><i class="mdi-communication-email"></i> Correo</span>
            <p class="grey-text text-lighten-4 footer-info center">neunapp.servicios@gmail.com</p>
          </div>
        </div>

      </div>
      
  </div>

  <div class="footer-copyright">
    <div class="container center grey-text text-lighten-4">
      © 2015 Neunapp Soluciones Tecnologicas. Todos los derechos reservados.
    </div>
  </div>

</footer>