<header class="header">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Logo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Quienes somós</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Foro</a></li>
                    <li><a href="#">Contactenos</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Quienes somós</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Foro</a></li>
                    <li><a href="#">Contactenos</a></li>
                    <li><a href="#">login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>