{% if is_paginated %}

    <div role="navigation">
        <ul class="cd-pagination animated-buttons custom-icons">
            <li class="button"><a href="#0"><i>Prev</i></a></li>
            <li><a href="#0">1</a></li>
            <li><a href="#0">2</a></li>
            <li><a class="current" href="#0">3</a></li>
            <li><a href="#0">4</a></li>
            <li><span>...</span></li>
            <li><a href="#0">20</a></li>
            <li class="button"><a href="#0"><i>Next</i></a></li>
        </ul>
    </div> <!-- cd-pagination-wrapper -->

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}

