{% if is_paginated %}

    <div role="navigation">
        <ul class="cd-pagination">
            {% if page_obj.has_previous %}
                <li class="button">
                    <a href="?page={{ page_obj.previous_page_number }}"><i>Anterior</i></a>
                </li>
            {% else %}
                <li class="button">
                    <a class="disabled" href="#"><i>Anterior</i></a>
                </li>
            {% endif %}
            {% for num_page in paginator.page_range %}

                {% if page_obj.number|add:'-5' <= num_page and page_obj.number|add:"5" >= num_page %}

                    {%if page_obj.number == num_page %}

                        <li><a class="current" href="#">{{ num_page }}</a></li>
                    {% else %}
                        <li><a href="?page={{ num_page }}">{{ num_page }}</a></li>
                    {% endif %}
                {% endif %}
                  
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="button">
                    <a href="?page={{ page_obj.next_page_number }}">
                    <i>Siguiente</i></a>
                </li>
            {% else %}
                <li class="button">
                    <a class="disabled" href="#"><i>Siguiente</i></a>
                </li>
            {% endif %}
            
        </ul>
    </div> <!-- cd-pagination-wrapper -->

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}

