<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="fa fa-share-alt"></i>
    </a>
    <ul>
      <li><a class="btn-floating deep-purple" href="https://github.com/neunapp"><i class="fa fa-github"></i></a></li>
      <li><a class="btn-floating indigo " href="https://www.facebook.com/Neunapp-954270137941159/timeline/"><i class="fa fa-facebook"></i></i></a></li>
      <li><a class="btn-floating red" href="https://plus.google.com/u/0/113086451092368557671/posts"><i class="fa fa-google-plus"></i></a></li>
      <li><a class="btn-floating red darken-4" href="https://www.youtube.com/channel/UCWtLAVOUsRS4z9ZlyDdBn5Q"><i class="fa fa-youtube"></i></a></li>
    </ul>
</div>